NODE_ENV=production
DOMAIN=

PORT_FRONTEND=
OTORING_SLUG=
SENKODIGITAL_REFERRAL=
GITHUB_REPO_URL=
API_BASEURL=

PORT_BACKEND=5000
API_ACCESS_TOKEN=
LASTFM_TOKEN=
LASTFM_USERNAME=
GALLERY_DIR=
BANNERS_DIR=
SHOUTS_COOLDOWN_MS=

GITHUB_TOKEN=
GITHUB_USERNAME=
GITHUB_FRONTEND_CONTAINER_NAME=
GITHUB_BACKEND_CONTAINER_NAME=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

UMAMI_DB_PASSWORD=
UMAMI_APP_SECRET=
UMAMI_WEBSITE_ID=
