.yabloko {
    width: 800px;
    font-size: 1.3rem;
    font-weight: 600;
    align-items: center;
    overflow: hidden;
}
.yabloko .disclaimer {
    text-align: center;
    opacity: 0.5;
    font-family: "Montserrat";
    font-size: 1rem;
}

.yabloko .content {
    display: flex;
    background-color: #00A23D50;
    width: max-content;
    animation: right-scroll 20s infinite linear;
}

.yabloko .track {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    flex-shrink: 0;
}

.yabloko .content .logo {
    height: 25px;
}

.yabloko .content p {
    text-align: center;
    width: 270px;
}

@keyframes right-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 900px) {
    .yabloko {
        width: 640px;
        font-size: 1.1rem;
    }
    .yabloko .content p {
        width: 200px;
    }
    .yabloko .content .logo {
        height: 20px;
    }
}

@media (max-width: 700px) {
    .yabloko {
        width: 100%;
        font-size: 0.95rem;
    }
    .yabloko .track {
        gap: 10px;
    }
    .yabloko .content p {
        width: 130px;
    }
    .yabloko .content .logo {
        height: 16px;
    }
    .yabloko .disclaimer {
        font-size: 0.85rem;
    }
}
