@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Montserrat Underline';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratunderline/v3/mFTuWaYfw6zH4dthXcyms01NtC8I_7U5uS4uzII.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  margin: 0;
  color: #fff;
  background-color: #000;
  font-family: "Montserrat Underline", "Montserrat", sans-serif;
  font-weight: 500;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  box-sizing: border-box;
}

.header-container {
 position: fixed;
 top: 15px;
 font-weight: 500;
 font-family: "Montserrat Underline", "Montserrat";
 text-shadow: 0 -1 5 #000;
}

h1 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

h1 .aka {
  margin-left: 5px;
  font-size: 0.8rem;
  font-weight: normal;
  opacity: 0.5;
}

.shitpostgallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.shitpostgallery.content {
  column-count: 3;
  column-gap: 0.5rem;
  width: 100%;
}

.shitpostgallery.content img {
  max-width: 350px;
  display: block;
  margin-bottom: 0.5rem;
  break-inside: avoid;
}

.mylinks {
  display: flex;
  column-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.textcontainer {
  width: 550px;
  max-width: 100%;
}

.textcontainer .description {
  color: rgba(255, 255, 255, 0.6);
}

.lmaowhat {
  background: linear-gradient(to right, #7825dd, #feb454);
  -webkit-background-clip: text;
  color: #ffffff00;
}

.userbanner-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  column-gap: 10px;
  row-gap: 5px;
  min-height: 150px;
  align-items: center;
}
.userbanner {transition: all 0.4s; max-width: 500px;}

.userbanner:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #000;
}

.userbanner.oguribanner:hover {
  transition: all 0.5s;
}

.nowplaying-container {
 display: flex; align-items: center; gap: 25px; margin-top: 20px; width: 100%;
}
.nowplaying-container .cover {max-width: 80px;}
.nowplaying-container .title {font-size: 1.1rem;}
.nowplaying-container .artist {opacity: 0.7; font-family: "Montserrat";}

.spinningvideo {
  width: 500px;
  max-width: 100%;
}

.contentselector {display: flex; gap: 10px; color: rgba(255, 255, 255, 0.6)}
.contentselector .active {color: #fff}

.not-found-container {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .shitpostgallery.content {
    column-count: 2;
  }
}

@media (max-width: 900px) {
  .spinningvideo {
    width: 340px;
  }

  .textcontainer {
    width: 320px;
  }
  .shitpostgallery.content {
    column-count: 3;
  }
  .shitpostgallery.content img { max-width: 200px;}
}

/* Мобильный */
@media (max-width: 600px) {
  .spinningvideo {
    width: 220px;
  }
  .not-found-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .textcontainer {
    width: 100%;
    text-align: center;
  }
  .contentselector {justify-content: center;}

  h1 {
    font-size: 1.25rem;
  }
  .mylinks {
    justify-content: center;
  }

  .shitpostgallery.content {
    column-count: 2;
  }
  .shitpostgallery.content img { max-width: 200px;}

  .nowplaying-container {
    justify-content: center;
    text-align: center;
  }
}
